/* write your override styles here */
div#wall .tag-1{
    display:none;
}

div#wall #tag-2, #tag-3.slick, .parent #tag-5.slick {
  display: none;
}

div#wall #tag-4{display:none;}

div#wall div.parent div:last-child div#tag-6 {
    display: none;
}
body div#wall div.parent div > #tag-7.slick {

display:none;}
